
* {
  font-family: "Verdana", cursive, sans-serif;
}  

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} 

.app {
  min-width: 450px;
  min-height: 200px;
}

img {
  max-width: 500px;
}

.progress {
  width: 500px;
  height: 5px !important;
}

input[type=checkbox] {
  transform: scale(1.4);
}

.textInput {
  width: 500px !important;
}

.imageBlock{
  height: 100vh;
}

.numbersInput{
  width: 180px !important;
}

.overallRating {
  max-width: 400px;
  background-color: rgb(217, 247, 226);
  display: flex;
  align-items: center;
}


/*//////////// FONTS////////////*/
.question-count {
  font-size: .8rem 
}

.accomplishedOn {
  font-size: .6rem 
}

.current-question {
  font-size: 1rem 
}

.online-test {
  font-size: 1.1rem;
}

.bold {
  font-weight: bold
}

.infoIcon {
  font-size: 1.1rem;
  color: gray;
  margin-right: 10px;
}













